In [32]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
df = pd.read_excel("wireless_mlpclassifier.xlsx")
data = df.iloc[:,0:7]
data

,[Low price (낮은 가격)],[Noise cancelling (노이즈 캔슬링)],[Battery time (배터리 시간)],[Light weight (가벼운 무게)],[Brand (브랜드)],[Sound Quality (음질)],wish device
0,1,4,3,5,6,2,1
1,3,5,4,6,2,1,2
2,4,3,5,6,2,1,2
3,3,4,6,5,1,2,2
4,4,5,2,1,6,3,1
...,...,...,...,...,...,...,...
81,3,4,2,5,6,1,2
82,6,3,1,4,5,2,4
83,5,6,1,2,4,3,4
84,4,6,3,5,1,2,3
85,6,2,3,5,1,4,1

In [18]:
device = data.pivot_table(index = 'wish device')
device

,[Battery time (배터리 시간)],[Brand (브랜드)],[Light weight (가벼운 무게)],[Low price (낮은 가격)],[Noise cancelling (노이즈 캔슬링)],[Sound Quality (음질)]
wish device,,,,,,
1,2.891892,2.972973,4.351351,3.945946,3.621622,2.567568
2,3.200000,3.733333,4.866667,3.733333,3.400000,2.066667
3,3.428571,2.142857,4.285714,3.571429,4.642857,2.071429
4,2.111111,3.777778,3.777778,4.222222,3.555556,2.444444
5,2.750000,4.000000,4.000000,2.750000,4.750000,2.750000
6,2.500000,4.250000,3.750000,1.000000,6.000000,3.500000
7,4.666667,2.666667,3.333333,2.666667,5.333333,2.333333

In [19]:
data

,[Low price (낮은 가격)],[Noise cancelling (노이즈 캔슬링)],[Battery time (배터리 시간)],[Light weight (가벼운 무게)],[Brand (브랜드)],[Sound Quality (음질)],wish device
0,1,4,3,5,6,2,1
1,3,5,4,6,2,1,2
2,4,3,5,6,2,1,2
3,3,4,6,5,1,2,2
4,4,5,2,1,6,3,1
...,...,...,...,...,...,...,...
81,3,4,2,5,6,1,2
82,6,3,1,4,5,2,4
83,5,6,1,2,4,3,4
84,4,6,3,5,1,2,3
85,6,2,3,5,1,4,1

In [23]:
data.set_index('wish device', inplace=True)

In [24]:
data

,[Low price (낮은 가격)],[Noise cancelling (노이즈 캔슬링)],[Battery time (배터리 시간)],[Light weight (가벼운 무게)],[Brand (브랜드)],[Sound Quality (음질)]
wish device,,,,,,
1,1,4,3,5,6,2
2,3,5,4,6,2,1
2,4,3,5,6,2,1
2,3,4,6,5,1,2
1,4,5,2,1,6,3
...,...,...,...,...,...,...
2,3,4,2,5,6,1
4,6,3,1,4,5,2
4,5,6,1,2,4,3
3,4,6,3,5,1,2
1,6,2,3,5,1,4

In [25]:
data

,[Low price (낮은 가격)],[Noise cancelling (노이즈 캔슬링)],[Battery time (배터리 시간)],[Light weight (가벼운 무게)],[Brand (브랜드)],[Sound Quality (음질)]
wish device,,,,,,
1,1,4,3,5,6,2
2,3,5,4,6,2,1
2,4,3,5,6,2,1
2,3,4,6,5,1,2
1,4,5,2,1,6,3
...,...,...,...,...,...,...
2,3,4,2,5,6,1
4,6,3,1,4,5,2
4,5,6,1,2,4,3
3,4,6,3,5,1,2
1,6,2,3,5,1,4

In [36]:
collabor = cosine_similarity(data)
collabor[0:2]

array([[1.        , 0.86813187, 0.82417582, 0.79120879, 0.84615385,
        0.88949918, 0.72527473, 0.80383695, 1.        , 0.91208791,
        0.89010989, 0.76923077, 0.81318681, 0.73626374, 0.72381526,
        0.95604396, 0.78021978, 0.74276396, 0.87912088, 0.81318681,
        0.7405885 , 0.71428571, 0.83704491, 0.86813187, 0.82417582,
        0.75824176, 0.93406593, 0.89010989, 0.98901099, 0.85714286,
        0.73626374, 0.76923077, 0.78021978, 0.7032967 , 0.93406593,
        0.95604396, 0.93789347, 0.75824176, 0.84697718, 0.73626374,
        0.82417582, 0.82417582, 0.7032967 , 0.94505495, 0.75824176,
        0.71428571, 0.79120879, 0.78689699, 0.75824176, 0.93406593,
        0.87912088, 0.78021978, 0.79120879, 0.91208791, 0.8021978 ,
        0.95604396, 0.81318681, 0.76923077, 0.81318681, 0.93406593,
        0.96703297, 0.82417582, 0.78021978, 0.89010989, 0.73626374,
        1.        , 0.87912088, 0.85714286, 0.97802198, 0.79120879,
        0.78021978, 0.9010989 , 0.75824176, 0.97802198, 0.72527473,
        0.79120879, 0.76923077, 0.85714286, 0.65934066, 0.92307692,
        0.76923077, 0.96703297, 0.82417582, 0.79120879, 0.79120879,
        0.68131868],
       [0.86813187, 1.        , 0.96703297, 0.95604396, 0.72527473,
        0.81537425, 0.84615385, 0.93780978, 0.86813187, 0.8021978 ,
        0.81318681, 0.87912088, 0.89010989, 0.87912088, 0.89615222,
        0.84615385, 0.94505495, 0.91660233, 0.87912088, 0.92307692,
        0.79274262, 0.91208791, 0.93437571, 0.78021978, 0.96703297,
        0.91208791, 0.96703297, 0.95604396, 0.83516484, 0.78021978,
        0.78021978, 0.87912088, 0.81318681, 0.72527473, 0.96703297,
        0.85714286, 0.89214257, 0.94505495, 0.95805616, 0.9010989 ,
        0.92307692, 0.92307692, 0.84615385, 0.76923077, 0.92307692,
        0.8021978 , 0.94505495, 0.83061349, 0.92307692, 0.9010989 ,
        0.79120879, 0.81318681, 0.8021978 , 0.86813187, 0.89010989,
        0.93406593, 0.74725275, 0.95604396, 0.97802198, 0.85714286,
        0.89010989, 0.82417582, 0.79120879, 0.82417582, 0.9010989 ,
        0.86813187, 0.79120879, 0.79120879, 0.87912088, 0.74725275,
        0.89010989, 0.93406593, 0.92307692, 0.87912088, 0.84615385,
        0.82417582, 0.93406593, 0.98901099, 0.8021978 , 0.87912088,
        0.92307692, 0.87912088, 0.8021978 , 0.79120879, 0.96703297,
        0.83516484]])

In [38]:
data['[Low price (낮은 가격)]']

wish device
1    1
2    3
2    4
2    3
1    4
    ..
2    3
4    6
4    5
3    4
1    6
Name: [Low price (낮은 가격)], Length: 86, dtype: int64